<div class='well'>
  <h4>評価結果詳細</h4>
  <h5>Log損失: <%= @evaluation.log_loss %></h5>

  <table id='table-evaluation-result' class='table table-hover'>
    <thead>
      <th width='10%'>No</th>
      <th width='70%'>期間</th>
      <th width='10%'>予測結果</th>
      <th width='10%'>正解</th>
    </thead>
    <tbody>
      <%= render @evaluation.test_data %>
    </tbody>
  </table>
</div>
