<div class='well'>
  <h3>評価結果詳細</h3>
  <h4>Log損失: <span id='log-loss'><%= @evaluation.log_loss %></span></h4>

  <table id='table-evaluation-test-datum' class='table table-hover'>
    <thead>
      <th width='10%'>No</th>
      <th width='70%'>期間</th>
      <th width='10%'>予測結果</th>
      <th width='10%'>正解</th>
    </thead>
    <tbody>
      <%= render @evaluation.test_data %>
    </tbody>
  </table>
</div>
