<tr>
  <td style="padding: 5px">
    <font size="2">
      <b>Title:</b> <%= escape_javascript(article.title) %><br/>
      <b>Summary:</b> <%= escape_javascript(article.summary) %><br/>
      <b>URL:</b> <%= raw("<a href=\"#{article.url}\">#{article.url}</a>") %><br/>
    </font>
  </td>
</tr>
