<a href="/rates" style="color: #000000; text-decoration: none; padding: 5px;">レート</a><font size="5" style="color: #aaaaaa;"> | </font>
<a href="/tweets" style="color: #000000; text-decoration: none; padding: 5px;">ツイート</a><font size="5" style="color: #aaaaaa;"> | </font>
<a href="/articles" style="background-color: #000000; color: #ffffff; text-decoration: none; padding: 5px;">記事</a>
<hr>
<div id="article"></div>
