<a href="/rates" class="not-selected">レート</a><font size="5" class="separator"> | </font>
<a href="/tweets" class="selected">ツイート</a><font size="5" class="separator"> | </font>
<a href="/articles" class="not-selected">記事</a>
<hr>
<div id="tweet"></div>
