<a href="/rate" style="color: #000000; text-decoration: none; padding: 5px;">レート</a><font size="5" style="color: #aaaaaa;"> | </font>
<a href="/tweet" style="background-color: #000000; color: #ffffff; text-decoration: none; padding: 5px;">ツイート</a><font size="5" style="color: #aaaaaa;"> | </font>
<a href="/article" style="color: #000000; text-decoration: none; padding: 5px;">記事</a>
<hr>
<div id="tweet"></div>
