// Place all the styles related to the analysis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  padding: 10px;
}

.input-custom {
  padding: 0px 5px;
}

span.first, span.prev, span.next, span.last {
  a {
    text-decoration: none;
    color: #ff0000;
  }
}

.period-label {
  margin-left: 10px;
}

.period-form {
  width: 95% !important;
  margin-left: auto;
}
