.not-selected {
  display: none !important;
}

#hr-setting {
  height: 2px;
  background-color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

#table-setting {
  background-color: #DDDDDD;
}

.glyphicon-black {
  color: black;
}

.glyphicon-orange {
  color: orange;
}
