@mixin common {
    text-decoration: none;
    padding: 5px;
}

a.selected {
    @include common;
    background-color: #000000;
    color: #ffffff;
}

a.not-selected {
    @include common;
    color: #000000;
}

font.separator {
    color: #aaaaaa;
}
