<%= javascript_include_tag "d3.min" %>
<a href="/rates" class="selected">レート</a><font size="5" class="separator"> | </font>
<a href="/tweets" class="not-selected">ツイート</a><font size="5" class="separator"> | </font>
<a href="/articles" class="not-selected">記事</a>
<hr>
<div id="rate"></div>
