<% info = {
     total_count: resources.total_count,
     from: resources.total_count.zero? ? 0 : resources.offset_value + 1,
     to: resources.offset_value + resources.size,
   } %>
<h4 style='padding: 10px 0px'><%= t('views.pagination.info', info) %></h4>
