<!DOCTYPE html>
<html>
<head>
  <title>Regulus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    opacity: 0.2;
  }
  </style>
</head>
<body>

  <%= yield %>

</body>
</html>
